
    <h4>Autor</h4>
	<p>Yo</p>
    <h4>Foto</h4>
        <img src="images/autor.png" width="50" heigth="50">
    <h4>Video</h4>
			<video id="video" width="200" height="100" controls preload>
				<source src="videos/myvideo.webm" type=video/webm>
				<source src="videos/myvideo.mp4" type=video/mp4>
			</video>
